service/workflow_service/api/test_files/workflow_execution_data_from_earlier_node_code.json
{
  "id": "eda6f029-a674-4f86-882a-1609cf215024",
  "name": "New Workflow",
  "active": false,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "id": "d264758b-d10c-41fa-9da4-6bed93b16c62",
      "name": "When clicking \"Execute Workflow\"",
      "typeVersion": 1,
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        80,
        320
      ],
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "id": "de9101ef-9e05-4298-95cd-a9e8adfb25a2",
      "name": "Code",
      "typeVersion": 2,
      "type": "n8n-nodes-base.code",
      "position": [
        300,
        320
      ],
      "parameters": {
        "jsCode": "return [\n  {\"json\": \"first\"},\n  {\"json\": \"second\"},\n]"
      },
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "id": "f56cfb2d-a705-4a74-afc2-3b6529d36c2d",
      "name": "Execute Command",
      "typeVersion": 1,
      "type": "n8n-nodes-base.executeCommand",
      "position": [
        520,
        320
      ],
      "parameters": {
        "command": "echo third"
      },
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "id": "6df2a822-1b42-4a27-9608-5cb269d90a6b",
      "name": "Code1",
      "typeVersion": 2,
      "type": "n8n-nodes-base.code",
      "position": [
        720,
        320
      ],
      "parameters": {
        "jsCode": "return [\n {\"json\": $('Code').first().json},\n {\"json\": $('Code').all()[1].json},\n {\"json\": $input.first().json.stdout}\n]"
      },
      "sugerOrgId": "w43Vc6UfM"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "sugerOrgId": "w43Vc6UfM"
  },
  "versionId": "e7dbf4bb-ae69-46ad-8b6f-404375dc061f",
  "createdAt": "2024-05-02T08:36:35.843Z",
  "updatedAt": "2024-05-02T08:42:03.224Z",
  "sugerOrgId": "w43Vc6UfM"
}