service/workflow_service/api/test_files/workflow_execution_webhook_with_responseNode.json
{
  "id": "VwvIXIWMYmwL62eR",
  "name": "Webhook Test Mode of ResponseNode",
  "active": false,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "id": "df4fe1ba-0fc8-49c9-bfb0-c0bf72034dc6",
      "name": "Webhook",
      "typeVersion": 1.1,
      "type": "n8n-nodes-base.webhook",
      "position": [460, 460],
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "5f4e1291-f300-4799-8e8b-152b664e9976",
        "responseMode": "responseNode"
      },
      "webhookId": "5f4e1291-f300-4799-8e8b-152b664e9976",
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "id": "64f8c1cd-41f4-4e8d-945b-d83c4e1cd0ac",
      "name": "Respond to Webhook",
      "typeVersion": 1,
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [980, 460],
      "parameters": {
        "options": {}
      },
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "id": "09a010d7-6950-4721-a0e5-00caea80583c",
      "name": "Code",
      "typeVersion": 2,
      "type": "n8n-nodes-base.code",
      "position": [700, 460],
      "parameters": {
        "jsCode": "return [\n  {\n    json: JSON.parse($input.first().json.body)\n  }\n]"
      },
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "id": "f41b3cb6-9218-4cf9-9c67-e45117badab3",
      "name": "Code1",
      "typeVersion": 2,
      "type": "n8n-nodes-base.code",
      "position": [1240, 460],
      "parameters": {
        "jsCode": "\n  return [    \n    {      \n      \"json\": {        \n        \"msg\": \"this is result msg\"     \n      }    \n    }  \n  ]"
      },
      "sugerOrgId": "w43Vc6UfM"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "sugerOrgId": "w43Vc6UfM"
  },
  "versionId": "5551e4eb-1597-45e6-9226-fbd598bb627d",
  "createdAt": "2024-02-29T06:02:54.888Z",
  "updatedAt": "2024-04-18T09:06:14.312Z",
  "sugerOrgId": "w43Vc6UfM"
}
