service/workflow_service/nodes_test/test_files/code-email-workflow.json
{
  "id": "2qp6j8jqINCSyHJI",
  "name": "Email Notification",
  "active": false,
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "If Offer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Entitlement": {
      "main": [
        [
          {
            "node": "Suger Email - Entitlement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Offer": {
      "main": [
        [
          {
            "node": "Suger Email - Offer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If Entitlement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "nodes": [
    {
      "id": "933b7f10-afbd-4a76-90c0-90a51ed86691",
      "name": "When clicking \"Execute Workflow\"",
      "typeVersion": 1,
      "type": "n8n-nodes-base.manualTrigger",
      "position": [420, 300],
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "id": "8f32b6b8-6376-4ae1-835b-718004570874",
      "name": "Code",
      "typeVersion": 2,
      "type": "n8n-nodes-base.code",
      "position": [640, 300],
      "parameters": {
        "jsCode": "const notificationEvent = {\n        \"eventID\": \"5090e603-db1e-481d-aec2-7f494a025999\",\n        \"organizationID\": \"4EUCUVLtM\",\n        \"partner\": \"AWS\",\n        \"action\": \"CANCEL\",\n        \"entityType\": \"ENTITLEMENT\",\n        \"entityID\": \"QrtyTXyaM\",\n        \"entityName\": \"agmt-4wj0hqzrdyqplohnjen30eq2i\",\n        \"entityStatus\": \"CANCELLED\",\n        \"message\": \"Entitlement is cancelled\",\n        \"info\": {\n          \"buyerID\": \"ADtyTvytM\",\n          \"creationTime\": \"2023-07-30T02:40:14.709447Z\",\n          \"endTime\": \"2024-03-17T20:30:46.232Z\",\n          \"entitlementTermID\": \"1rtmTXmaMp\",\n          \"externalBuyerID\": \"32QonK4ZQC4\",\n          \"externalID\": \"agmt-4wj0hqzrdyqplohnjen30eq2i\",\n          \"externalProductID\": \"75res3rkue0bxtyb5n1ar5bj1\",\n          \"id\": \"QrtyTXyaM\",\n          \"info\": {\n            \"collectableAmount\": 37223.2,\n            \"commitAmount\": 40460,\n            \"commits\": [\n              {\n                \"category\": \"Units\",\n                \"description\": \"Teleport Offer\",\n                \"key\": \"TeleportOffer\",\n                \"length\": 12,\n                \"name\": \"Teleport Offer\",\n                \"quantity\": 1,\n                \"rate\": 40460,\n                \"timeUnit\": \"MONTH\",\n                \"types\": [\n                  \"Entitled\"\n                ]\n              }\n            ],\n            \"currency\": \"USD\",\n            \"dimensions\": [\n              {\n                \"description\": \"Server Access Additional User\",\n                \"key\": \"A8763\",\n                \"name\": \"A8763\",\n                \"rate\": 432\n              },\n              {\n                \"description\": \"Kubernetes Access Additional User\",\n                \"key\": \"A8757\",\n                \"name\": \"A8757\",\n                \"rate\": 432\n              },\n              {\n                \"description\": \"Application Access Additional User\",\n                \"key\": \"A8790\",\n                \"name\": \"A8790\",\n                \"rate\": 432\n              },\n              {\n                \"description\": \"Database Access Additional User\",\n                \"key\": \"A8755\",\n                \"name\": \"A8755\",\n                \"rate\": 432\n              }\n            ],\n            \"disbursedAmount\": 37223.2,\n            \"eulaUrl\": \"https://aws-mp-offer-legal-artifacts-us-east-1-prod.s3.us-east-1.amazonaws.com/offer-ulafzsiy4rzww/29291139-a480-4b27-a5fe-df71bd9b7dd0?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEAEaCXVzLWVhc3QtMSJGMEQCIHQirUIXKzNu0nJ0Ex82sCf%2FNDuQ%2F4prLh1L4GJL22mRAiBG37574YW67fwaMz4fuirstg%2FDv2TYoT5IL96fGjIJtSqfAgia%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAMaDDE3MDY2NzA2Njg2OCIMKxU8KAJb8v8YV3lQKvMBlwG4ZFH8bHkhrOO3Dnmdg1qwMqmhCASwdYBopnc0dAimlIZ0koJTRDSXRphAwd4dEF3Xkh89UPq9Kb0MVmxIJi5MiGMFCAd1Jwi7Ax37tWjrLfQjsmofGwjRbgQymsdip%2F1I7cSEWZi%2FtBcZmUksneOCtFTM%2BM0rtBeZxhrFbO%2FahLZki7z3F%2B%2FTh3tFV8kLZw2gcZviNQXpt%2FNzmXEDEQpVF%2FBJxo8O4J4upKN08PywF93AjVNAFUEJbVZ%2FJmXtAZNHo6SQ%2FRJ3N00a8yYEVcskhpewQrzIXlXbubgvqFV3783VG56gm4vophtdL1p%2BTMnOMPzhlqYGOpABwJoBfPddGWHLSf3reEJrvD0sv1%2Fd3egtvW%2Bu5Cbo%2BUioovXrOH7Dr7ACmAkeSOnsd8bFhErtIppxN1w5NcQxb3y1Nl1ufuS7qGx%2F3LNqLvZjzJ78ynBqJ2x7Cl1C6SJv9oOXi57RRYHYXYdUF1rONSp3SMLLmBHAWYl59XEm7ZUMyCHMAen4MjIpxPbwjfpv&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230730T004245Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=ASIASPPEMYX2GAVSNFPT%2F20230730%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=fdfb7e43f90803fee2029267c914086e5e5f8f1841218bf4f2328aa9a7849080\",\n            \"invoicedAmount\": 40460\n          },\n          \"lastUpdateTime\": \"2024-03-17T20:40:04.722004Z\",\n          \"metaInfo\": {\n            \"isGrossRevenueFullSync\": true\n          },\n          \"name\": \"agmt-4wj0hqzrdyqplohnjen30eq2i\",\n          \"offerID\": \"sGBc0WytM\",\n          \"organizationID\": \"4EUCUVLtM\",\n          \"partner\": \"AWS\",\n          \"productID\": \"rbfQgEyap\",\n          \"service\": \"MARKETPLACE\",\n          \"startTime\": \"2023-03-17T20:30:46.232Z\",\n          \"status\": \"PENDING_CANCEL\",\n          \"type\": \"CONTRACT\"\n        },\n        \"timestamp\": \"2024-03-17T21:40:05.401494972Z\",\n        \"priority\": \"CRITICAL\",\n        \"requireAudit\": true,\n        \"customFields\": {\n          \"awsAccountId\": \"996097627176\",\n          \"awsCustomerId\": \"32QonK4ZQC4\",\n          \"buyerId\": \"ADtyTvytM\",\n          \"buyerName\": \"Zapier Inc.\",\n          \"entitlementId\": \"QrtyTXyaM\",\n          \"entitlementName\": \"agmt-4wj0hqzrdyqplohnjen30eq2i\",\n          \"externalBuyerId\": \"32QonK4ZQC4\",\n          \"externalEntitlementId\": \"agmt-4wj0hqzrdyqplohnjen30eq2i\",\n          \"externalId\": \"agmt-4wj0hqzrdyqplohnjen30eq2i\",\n          \"externalOfferId\": \"offer-ulafzsiy4rzww\",\n          \"externalProductId\": \"75res3rkue0bxtyb5n1ar5bj1\",\n          \"offerId\": \"sGBc0WytM\",\n          \"offerName\": \"Gravitational, Inc. private offer for Zapier Inc (acct: 996097627176) d1b90d58-c2d9-42ce-9a4a-60a522d70c4c\",\n          \"productId\": \"rbfQgEyap\",\n          \"productName\": \"Teleport Access Platform for AWS\"\n        }\n      };\n\nreturn [{json: notificationEvent}];"
      },
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "id": "1ab61da7-52d8-40ed-9dc2-b3a19f4a70bc",
      "name": "If Offer",
      "typeVersion": 2,
      "type": "n8n-nodes-base.if",
      "position": [860, 300],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "bd4889e8-0c09-4f24-8041-0aa99b9d7a56",
              "leftValue": "={{ $json.entityType == \"OFFER\" }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "id": "973b954c-5743-448a-bb10-f2dc6cb086b0",
      "name": "Suger Email - Offer",
      "typeVersion": 1,
      "type": "n8n-nodes-base.sugerEmail",
      "position": [1320, 160],
      "parameters": {
        "html": "=<!doctype html>\n<html\n  xmlns:v=\"urn:schemas-microsoft-com:vml\"\n  xmlns:o=\"urn:schemas-microsoft-com:office:office\"\n  lang=\"en\"\n>\n  <head>\n    <title></title>\n    <meta\n      http-equiv=\"Content-Type\"\n      content=\"text/html; charset=utf-8\"\n    />\n    <meta\n      name=\"viewport\"\n      content=\"width=device-width, initial-scale=1.0\"\n    />\n    <link\n      href=\"https://fonts.googleapis.com/css?family=Montserrat\"\n      rel=\"stylesheet\"\n      type=\"text/css\"\n    />\n    <style>\n      * {\n        box-sizing: border-box;\n      }\n\n      body {\n        margin: 0;\n        padding: 0;\n      }\n\n      a[x-apple-data-detectors] {\n        color: inherit !important;\n        text-decoration: inherit !important;\n      }\n\n      #MessageViewBody a {\n        color: inherit;\n        text-decoration: none;\n      }\n\n      p {\n        line-height: inherit;\n      }\n\n      .desktop_hide,\n      .desktop_hide table {\n        display: none;\n        max-height: 0px;\n        overflow: hidden;\n      }\n\n      .image_block img + div {\n        display: none;\n      }\n\n      @media (max-width: 620px) {\n        .desktop_hide table.icons-inner,\n        .social_block.desktop_hide .social-table {\n          display: inline-block !important;\n        }\n\n        .icons-inner {\n          text-align: center;\n        }\n\n        .icons-inner td {\n          margin: 0 auto;\n        }\n\n        .image_block div.fullWidth {\n          max-width: 100% !important;\n        }\n\n        .mobile_hide {\n          display: none;\n        }\n\n        .row-content {\n          width: 100% !important;\n        }\n\n        .stack .column {\n          width: 100%;\n          display: block;\n        }\n\n        .mobile_hide {\n          min-height: 0;\n          max-height: 0;\n          max-width: 0;\n          overflow: hidden;\n          font-size: 0px;\n        }\n\n        .desktop_hide,\n        .desktop_hide table {\n          display: table !important;\n          max-height: none !important;\n        }\n      }\n    </style>\n  </head>\n\n  <body style=\"background-color: #ededed; margin: 0; padding: 0\">\n    <table\n      class=\"nl-container\"\n      width=\"100%\"\n      border=\"0\"\n      cellpadding=\"0\"\n      cellspacing=\"0\"\n      style=\"background-color: #ededed\"\n    >\n      <tbody>\n        <tr>\n          <td>\n            <table\n              id=\"header\"\n              class=\"row\"\n              align=\"center\"\n              width=\"100%\"\n              border=\"0\"\n              cellpadding=\"0\"\n              cellspacing=\"0\"\n            >\n              <tbody>\n                <tr>\n                  <td>\n                    <table\n                      class=\"row-content stack\"\n                      align=\"center\"\n                      border=\"0\"\n                      cellpadding=\"0\"\n                      cellspacing=\"0\"\n                      style=\"\n                        background-color: #8b3de4;\n                        background-image: url(&quot;https://d1oco4z2z1fhwp.cloudfront.net/templates/default/1636/header_bg.png&quot;);\n                        background-position: center top;\n                        background-repeat: no-repeat;\n                        color: #000000;\n                        width: 600px;\n                        margin: 0 auto;\n                      \"\n                      width=\"600\"\n                    >\n                      <tbody>\n                        <tr>\n                          <td\n                            class=\"column\"\n                            width=\"100%\"\n                            style=\"\n                              font-weight: 400;\n                              text-align: left;\n                              padding-bottom: 5px;\n                              padding-top: 5px;\n                              vertical-align: top;\n                              border: 0px;\n                            \"\n                          >\n                            <div style=\"height: 20px\">&#8202;</div>\n                            <table\n                              width=\"100%\"\n                              border=\"0\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                            >\n                              <tr>\n                                <td\n                                  class=\"pad\"\n                                  style=\"padding: 10px 35px\"\n                                >\n                                  <div\n                                    style=\"\n                                      color: #d8cece;\n                                      font-family: Verdana, Geneva, sans-serif;\n                                      font-size: 16px;\n                                      text-align: left;\n                                    \"\n                                  >\n                                    <p style=\"margin: 0; word-break: break-word\">\n                                      {{ $json.action}} {{ $json.entityType}}\n                                    </p>\n                                  </div>\n                                </td>\n                              </tr>\n                            </table>\n                            <table\n                              width=\"100%\"\n                              border=\"0\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                            >\n                              <tr>\n                                <td\n                                  class=\"pad\"\n                                  style=\"padding: 10px 35px\"\n                                >\n                                  <div\n                                    style=\"\n                                      color: #ffffff;\n                                      font-family: Verdana, Geneva, sans-serif;\n                                      font-size: 24px;\n                                      text-align: left;\n                                    \"\n                                  >\n                                    <p style=\"margin: 0; word-break: break-word\">{{ $json.entityName }}</p>\n                                  </div>\n                                </td>\n                              </tr>\n                            </table>\n                            <table\n                              width=\"100%\"\n                              border=\"0\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                            >\n                              <tr>\n                                <td\n                                  class=\"pad\"\n                                  style=\"padding: 10px 35px\"\n                                >\n                                  <div\n                                    style=\"\n                                      color: #ffffff;\n                                      font-family: Verdana, Geneva, sans-serif;\n                                      font-size: 14px;\n                                      text-align: left;\n                                    \"\n                                  >\n                                    <p style=\"margin: 0; word-break: break-word\">\n                                      {{ new Date($json.timestamp).toDateString() }}\n                                    </p>\n                                  </div>\n                                </td>\n                              </tr>\n                            </table>\n                            <div style=\"height: 20px\">&#8202;</div>\n                          </td>\n                        </tr>\n                      </tbody>\n                    </table>\n                  </td>\n                </tr>\n              </tbody>\n            </table>\n            <table\n              id=\"content\"\n              class=\"row\"\n              align=\"center\"\n              width=\"100%\"\n              border=\"0\"\n              cellpadding=\"0\"\n              cellspacing=\"0\"\n            >\n              <tbody>\n                <tr>\n                  <td>\n                    <table\n                      class=\"row-content stack\"\n                      align=\"center\"\n                      border=\"0\"\n                      cellpadding=\"0\"\n                      cellspacing=\"0\"\n                      style=\"background-color: #ffffff; color: #000000; width: 600px; margin: 0 auto\"\n                      width=\"600\"\n                    >\n                      <tbody>\n                        <tr>\n                          <td\n                            class=\"column\"\n                            width=\"100%\"\n                            style=\"\n                              font-weight: 400;\n                              text-align: left;\n                              padding-bottom: 5px;\n                              padding-top: 5px;\n                              vertical-align: top;\n                              border: 0px;\n                            \"\n                          >\n                            <div style=\"height: 30px\">&#8202;</div>\n                            <div\n                              style=\"\n                                font-family: Verdana, Geneva, sans-serif;\n                                padding: 10px 35px;\n                                width: 100%;\n                              \"\n                            >\n                              <p style=\"color: #6325d0; font-size: 24px; margin: 0; padding-bottom: 10px; word-break: break-word\">Offer Details</p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Channel</strong>\n                                <br />\n                                {{ $json.partner }}\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Product</strong>\n                                <br />\n                                <a href={{ \"https://console.suger.io/product/\" + $json.customFields.productId }}> {{ $json.customFields && $json.customFields.productName ? $json.customFields.productName : \"N/A\" }}</a>\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word;\">\n                                <strong>Suger ID</strong>\n                                <br />\n                                <a href={{ \"https://console.suger.io/offer/\" + $json.entityID }}> {{ $json.entityID }}</a>\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>External ID</strong>\n                                <br />\n                                <a href={{ $json.info && $json.info.info ? $json.info.info.privateOfferUrl : \"\" }}> \n                                  {{ $json.info && $json.info.externalID ? $json.info.externalID : \"N/A\" }}\n                                </a>\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Create Date</strong>\n                                <br />\n                                {{ $json.info && $json.info.creationTime ? new\n                                Date($json.info.creationTime).toISOString().slice(0, 10) : \"N/A\"}}\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Expire Date</strong>\n                                <br />\n                                {{ $json.info && $json.info.expireTime ? new Date($json.info.expireTime).toISOString().slice(0, 10) : \"N/A\"}}\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Create By</strong>\n                                <br />\n                                {{ $json.createdBy ? $json.createdBy.name + \"<br/> \" + $json.createdBy.email : \"N/A\"}}\n                              </p>\n                            </div>\n\n                            <div\n                              style=\"\n                                font-family: Verdana, Geneva, sans-serif;\n                                padding: 10px 35px;\n                                width: 100%;\n                              \"\n                            >\n                              <p style=\"color: #6325d0; font-size: 24px; margin: 0; padding-bottom: 10px; word-break: break-word\">Offer Quote</p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Commitments</strong>\n                                <br />\n                                {{ \n                                  $if($json.info && $json.info.info && $json.info.info.commits, $json.info.info.commits?.reduce((accumulator, currentValue) => {\n                                    return accumulator + currentValue.name + \"&nbsp;&nbsp; $\" + (currentValue.rate || 0) + \"<br />\";\n                                  }, \"\"), \"N/A\")\n                                }}\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Usage Dimensions</strong>\n                                <br />\n                                {{ \n                                  $if($json.info && $json.info.info && $json.info.info.dimensions, $json.info.info.dimensions?.reduce((accumulator, currentValue) => {\n                                    return accumulator + currentValue.name + \"&nbsp;&nbsp; $\" + (currentValue.rate || 0) + \" (per unit) <br />\";\n                                  }, \"\"), \"N/A\")\n                                }}\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Payment Schedule</strong>\n                                <br />\n                                {{ \n                                  $if($json.info && $json.info.info && $json.info.info.paymentInstallments, $json.info.info.paymentInstallments?.reduce((accumulator, currentValue) => {\n                                    return accumulator + new Date(currentValue.chargeOn).toISOString().slice(0, 10) + \"&nbsp;&nbsp; $\" + (currentValue.amount || 0) + \"<br />\";\n                                  }, \"\"), \"N/A\")\n                                }}\n                              </p>\n                            </div>\n\n                            <div style=\"height: 15px\">&#8202;</div>\n                          </td>\n                        </tr>\n                      </tbody>\n                    </table>\n                  </td>\n                </tr>\n              </tbody>\n            </table>\n            <table\n              id=\"footer-divider\"\n              class=\"row\"\n              align=\"center\"\n              width=\"100%\"\n              border=\"0\"\n              cellpadding=\"0\"\n              cellspacing=\"0\"\n            >\n              <tbody>\n                <tr>\n                  <td>\n                    <table\n                      class=\"row-content stack\"\n                      align=\"center\"\n                      border=\"0\"\n                      cellpadding=\"0\"\n                      cellspacing=\"0\"\n                      style=\"background-color: #f7f7f7; color: #000000; width: 600px; margin: 0 auto\"\n                      width=\"600\"\n                    >\n                      <tbody>\n                        <tr>\n                          <td\n                            class=\"column\"\n                            width=\"100%\"\n                            style=\"\n                              font-weight: 400;\n                              text-align: left;\n                              padding-bottom: 20px;\n                              padding-top: 20px;\n                              vertical-align: top;\n                              border: 0px;\n                            \"\n                          >\n                            <div style=\"height: 30px\">&#8202;</div>\n                          </td>\n                        </tr>\n                      </tbody>\n                    </table>\n                  </td>\n                </tr>\n              </tbody>\n            </table>\n            <table\n              id=\"footer\"\n              class=\"row\"\n              align=\"center\"\n              width=\"100%\"\n              border=\"0\"\n              cellpadding=\"0\"\n              cellspacing=\"0\"\n            >\n              <tbody>\n                <tr>\n                  <td>\n                    <table\n                      class=\"row-content stack\"\n                      align=\"center\"\n                      border=\"0\"\n                      cellpadding=\"0\"\n                      cellspacing=\"0\"\n                      style=\"color: #000000; width: 600px; margin: 0 auto\"\n                      width=\"600\"\n                    >\n                      <tbody>\n                        <tr>\n                          <td\n                            class=\"column\"\n                            width=\"100%\"\n                            style=\"\n                              font-weight: 400;\n                              text-align: left;\n                              padding-bottom: 5px;\n                              padding-top: 5px;\n                              vertical-align: top;\n                              border: 0px;\n                            \"\n                          >\n                            <div style=\"height: 20px\">&#8202;</div>\n                            <table\n                              class=\"image_block\"\n                              width=\"100%\"\n                              border=\"0\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                            >\n                              <tr>\n                                <td\n                                  class=\"pad\"\n                                  style=\"padding: 10px 35px; width: 100%\"\n                                >\n                                  <div\n                                    class=\"alignment\"\n                                    align=\"center\"\n                                    style=\"height: 30px\"\n                                  >\n                                    <div style=\"max-width: 40px\">\n                                      <a\n                                        href=\"http://www.suger.io\"\n                                        target=\"_blank\"\n                                        style=\"outline: none\"\n                                        tabindex=\"-1\"\n                                      >\n                                        <img\n                                          src=\"https://imagedelivery.net/pNNvR2_tZYczcQ3leBU_1A/242a5a5f-8364-4418-0e2f-57ec26125b00/public\"\n                                          style=\"display: block; height: auto; border: 0; width: 100%\"\n                                          width=\"40\"\n                                          alt=\"Suger Logo\"\n                                          title=\"Suger Logo\"\n                                        />\n                                      </a>\n                                    </div>\n                                  </div>\n                                </td>\n                              </tr>\n                            </table>\n                            <table\n                              width=\"100%\"\n                              border=\"0\"\n                              cellpadding=\"10\"\n                              cellspacing=\"0\"\n                            >\n                              <tr>\n                                <td class=\"pad\">\n                                  <div\n                                    style=\"\n                                      color: #7b7b7b;\n                                      font-family: Verdana, Geneva, sans-serif;\n                                      font-size: 12px;\n                                      text-align: center;\n                                    \"\n                                  >\n                                    <p style=\"margin: 5px; word-break: break-word\">\n                                      <span>\n                                        Powered by\n                                        <a href=\"http://www.suger.io\">Suger</a>\n                                      </span>\n                                    </p>\n                                    <p style=\"margin: 0; word-break: break-word\">\n                                      <span>@ 2022-2024 All Rights Reserved.</span>\n                                    </p>\n                                  </div>\n                                </td>\n                              </tr>\n                            </table>\n                            <div style=\"height: 20px\">&#8202;</div>\n                          </td>\n                        </tr>\n                      </tbody>\n                    </table>\n                  </td>\n                </tr>\n              </tbody>\n            </table>\n          </td>\n        </tr>\n      </tbody>\n    </table>\n  </body>\n</html>\n",
        "subject": "=Notification: {{ $json.message }}",
        "toEmail": "chengjun@suger.io"
      },
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "id": "d4f8818d-f265-4832-bfe9-c536e1a07a0a",
      "name": "If Entitlement",
      "typeVersion": 2,
      "type": "n8n-nodes-base.if",
      "position": [1060, 420],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "2dc297af-90cc-4615-b1d0-dffe8ed44112",
              "leftValue": "={{ $json.entityType == \"ENTITLEMENT\" }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "id": "a8746e35-cb05-49fd-9db6-d6fb548fd677",
      "name": "Delete Execution",
      "typeVersion": 1,
      "type": "n8n-nodes-base.deleteExecution",
      "position": [1320, 580],
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "id": "c2ab5925-362f-4edf-87a2-5ce1088fa23f",
      "name": "Suger Email - Entitlement",
      "typeVersion": 1,
      "type": "n8n-nodes-base.sugerEmail",
      "position": [1320, 360],
      "parameters": {
        "html": "=<!doctype html>\n<html\n  xmlns:v=\"urn:schemas-microsoft-com:vml\"\n  xmlns:o=\"urn:schemas-microsoft-com:office:office\"\n  lang=\"en\"\n>\n  <head>\n    <title></title>\n    <meta\n      http-equiv=\"Content-Type\"\n      content=\"text/html; charset=utf-8\"\n    />\n    <meta\n      name=\"viewport\"\n      content=\"width=device-width, initial-scale=1.0\"\n    />\n    <link\n      href=\"https://fonts.googleapis.com/css?family=Montserrat\"\n      rel=\"stylesheet\"\n      type=\"text/css\"\n    />\n    <style>\n      * {\n        box-sizing: border-box;\n      }\n\n      body {\n        margin: 0;\n        padding: 0;\n      }\n\n      a[x-apple-data-detectors] {\n        color: inherit !important;\n        text-decoration: inherit !important;\n      }\n\n      #MessageViewBody a {\n        color: inherit;\n        text-decoration: none;\n      }\n\n      p {\n        line-height: inherit;\n      }\n\n      .desktop_hide,\n      .desktop_hide table {\n        display: none;\n        max-height: 0px;\n        overflow: hidden;\n      }\n\n      .image_block img + div {\n        display: none;\n      }\n\n      @media (max-width: 620px) {\n        .desktop_hide table.icons-inner,\n        .social_block.desktop_hide .social-table {\n          display: inline-block !important;\n        }\n\n        .icons-inner {\n          text-align: center;\n        }\n\n        .icons-inner td {\n          margin: 0 auto;\n        }\n\n        .image_block div.fullWidth {\n          max-width: 100% !important;\n        }\n\n        .mobile_hide {\n          display: none;\n        }\n\n        .row-content {\n          width: 100% !important;\n        }\n\n        .stack .column {\n          width: 100%;\n          display: block;\n        }\n\n        .mobile_hide {\n          min-height: 0;\n          max-height: 0;\n          max-width: 0;\n          overflow: hidden;\n          font-size: 0px;\n        }\n\n        .desktop_hide,\n        .desktop_hide table {\n          display: table !important;\n          max-height: none !important;\n        }\n      }\n    </style>\n  </head>\n\n  <body style=\"background-color: #ededed; margin: 0; padding: 0\">\n    <table\n      class=\"nl-container\"\n      width=\"100%\"\n      border=\"0\"\n      cellpadding=\"0\"\n      cellspacing=\"0\"\n      style=\"background-color: #ededed\"\n    >\n      <tbody>\n        <tr>\n          <td>\n            <table\n              id=\"header\"\n              class=\"row\"\n              align=\"center\"\n              width=\"100%\"\n              border=\"0\"\n              cellpadding=\"0\"\n              cellspacing=\"0\"\n            >\n              <tbody>\n                <tr>\n                  <td>\n                    <table\n                      class=\"row-content stack\"\n                      align=\"center\"\n                      border=\"0\"\n                      cellpadding=\"0\"\n                      cellspacing=\"0\"\n                      style=\"\n                        background-color: #8b3de4;\n                        background-image: url(&quot;https://d1oco4z2z1fhwp.cloudfront.net/templates/default/1636/header_bg.png&quot;);\n                        background-position: center top;\n                        background-repeat: no-repeat;\n                        color: #000000;\n                        width: 600px;\n                        margin: 0 auto;\n                      \"\n                      width=\"600\"\n                    >\n                      <tbody>\n                        <tr>\n                          <td\n                            class=\"column\"\n                            width=\"100%\"\n                            style=\"\n                              font-weight: 400;\n                              text-align: left;\n                              padding-bottom: 5px;\n                              padding-top: 5px;\n                              vertical-align: top;\n                              border: 0px;\n                            \"\n                          >\n                            <div style=\"height: 20px\">&#8202;</div>\n                            <table\n                              width=\"100%\"\n                              border=\"0\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                            >\n                              <tr>\n                                <td\n                                  class=\"pad\"\n                                  style=\"padding: 10px 35px\"\n                                >\n                                  <div\n                                    style=\"\n                                      color: #d8cece;\n                                      font-family: Verdana, Geneva, sans-serif;\n                                      font-size: 16px;\n                                      text-align: left;\n                                    \"\n                                  >\n                                    <p style=\"margin: 0; word-break: break-word\">\n                                      {{ $json.action}} {{ $json.entityType}}\n                                    </p>\n                                  </div>\n                                </td>\n                              </tr>\n                            </table>\n                            <table\n                              width=\"100%\"\n                              border=\"0\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                            >\n                              <tr>\n                                <td\n                                  class=\"pad\"\n                                  style=\"padding: 10px 35px\"\n                                >\n                                  <div\n                                    style=\"\n                                      color: #ffffff;\n                                      font-family: Verdana, Geneva, sans-serif;\n                                      font-size: 24px;\n                                      text-align: left;\n                                    \"\n                                  >\n                                    <p style=\"margin: 0; word-break: break-word\">{{ $json.entityName }}</p>\n                                  </div>\n                                </td>\n                              </tr>\n                            </table>\n                            <table\n                              width=\"100%\"\n                              border=\"0\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                            >\n                              <tr>\n                                <td\n                                  class=\"pad\"\n                                  style=\"padding: 10px 35px\"\n                                >\n                                  <div\n                                    style=\"\n                                      color: #ffffff;\n                                      font-family: Verdana, Geneva, sans-serif;\n                                      font-size: 14px;\n                                      text-align: left;\n                                    \"\n                                  >\n                                    <p style=\"margin: 0; word-break: break-word\">\n                                      {{ new Date($json.timestamp).toDateString() }}\n                                    </p>\n                                  </div>\n                                </td>\n                              </tr>\n                            </table>\n                            <div style=\"height: 20px\">&#8202;</div>\n                          </td>\n                        </tr>\n                      </tbody>\n                    </table>\n                  </td>\n                </tr>\n              </tbody>\n            </table>\n            <table\n              id=\"content\"\n              class=\"row\"\n              align=\"center\"\n              width=\"100%\"\n              border=\"0\"\n              cellpadding=\"0\"\n              cellspacing=\"0\"\n            >\n              <tbody>\n                <tr>\n                  <td>\n                    <table\n                      class=\"row-content stack\"\n                      align=\"center\"\n                      border=\"0\"\n                      cellpadding=\"0\"\n                      cellspacing=\"0\"\n                      style=\"background-color: #ffffff; color: #000000; width: 600px; margin: 0 auto\"\n                      width=\"600\"\n                    >\n                      <tbody>\n                        <tr>\n                          <td\n                            class=\"column\"\n                            width=\"100%\"\n                            style=\"\n                              font-weight: 400;\n                              text-align: left;\n                              padding-bottom: 5px;\n                              padding-top: 5px;\n                              vertical-align: top;\n                              border: 0px;\n                            \"\n                          >\n                            <div style=\"height: 30px\">&#8202;</div>\n                            <div\n                              style=\"\n                                font-family: Verdana, Geneva, sans-serif;\n                                padding: 10px 35px;\n                                width: 100%;\n                              \"\n                            >\n                              <p style=\"color: #6325d0; font-size: 20px; margin: 0; padding-bottom: 10px; word-break: break-word\">Entitlement Details</p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Channel</strong>\n                                <br />\n                                {{ $json.partner }}\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Product</strong>\n                                <br />\n                                <a href={{ \"https://console.suger.io/product/\" + $json.customFields.productId }}> \n                                  {{ $json.customFields && $json.customFields.productName ? $json.customFields.productName : \"N/A\" }}\n                                </a>\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Offer</strong>\n                                <br />\n                                <a href={{ \"https://console.suger.io/offer/\" + $json.customFields.offerId }}> \n                                  {{ $json.customFields && $json.customFields.offerName ? $json.customFields.offerName : \"N/A\" }}\n                                </a>\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Buyer</strong>\n                                <br />\n                                <a href={{ \"https://console.suger.io/buyer/\" + $json.customFields.buyerId }}> \n                                  {{ $json.customFields && $json.customFields.buyerName ? $json.customFields.buyerName : \"N/A\" }}\n                                </a>\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word;\">\n                                <strong>Entitlement ID</strong>\n                                <br />\n                                <a href={{ \"https://console.suger.io/entitlement/\" + $json.entityID }}> {{ $json.entityID }}</a>\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>External ID</strong>\n                                <br />\n                                {{ $json.info && $json.info.externalID ? $json.info.externalID : \"N/A\" }}\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Create Date</strong>\n                                <br />\n                                {{ ($json.info && $json.info.creationTime) ? new Date($json.info.creationTime).toISOString().slice(0, 10) : \"N/A\"}}\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Start Date</strong>\n                                <br />\n                                {{ ($json.info && $json.info.startTime) ? new Date($json.info.startTime).toISOString().slice(0, 10) : \"N/A\"}}\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>End Date</strong>\n                                <br />\n                                {{ ($json.info && $json.info.endTime) ? new Date($json.info.endTime).toISOString().slice(0, 10) : \"N/A\"}}\n                              </p>\n                            </div>\n\n                            <div\n                              style=\"\n                                font-family: Verdana, Geneva, sans-serif;\n                                padding: 10px 35px;\n                                width: 100%;\n                              \"\n                            >\n                              <p style=\"color: #6325d0; font-size: 20px; margin: 0; padding-bottom: 10px; word-break: break-word\">Entitlement Quote</p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Commitments</strong>\n                                <br />\n                                {{ $if($json.info && $json.info.info && $json.info.info.commits, $json.info.info.commits?.reduce((accumulator, currentValue) => {\n                                    return accumulator + currentValue.name + \"&nbsp;&nbsp; $\" + (currentValue.rate || 0) + \"<br />\";\n                                  }, \"\"), \"N/A\")\n                                }}\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Usage Dimensions</strong>\n                                <br />\n                                {{ \n                                  $if($json.info && $json.info.info && $json.info.info.dimensions, $json.info.info.dimensions?.reduce((accumulator, currentValue) => {\n                                    return accumulator + currentValue.name + \"&nbsp;&nbsp; $\" + (currentValue.rate || 0) + \" (per unit) <br />\";\n                                  }, \"\"), \"N/A\")\n                                }}\n                              </p>\n\n                              <p style=\"font-size: 12px; margin: 0; padding-bottom: 10px; word-break: break-word\">\n                                <strong>Payment Schedules</strong>\n                                <br />\n                                {{ \n                                  $if($json.info && $json.info.info && $json.info.info.paymentInstallments, $json.info.info.paymentInstallments?.reduce((accumulator, currentValue) => {\n                                    return accumulator + new Date(currentValue.chargeOn).toISOString().slice(0, 10) + \"&nbsp;&nbsp; $\" + (currentValue.amount || 0) + \"<br />\";\n                                  }, \"\"), \"N/A\")\n                                }}\n                              </p>\n                            </div>\n\n                            <div style=\"height: 15px\">&#8202;</div>\n                          </td>\n                        </tr>\n                      </tbody>\n                    </table>\n                  </td>\n                </tr>\n              </tbody>\n            </table>\n            <table\n              id=\"footer-divider\"\n              class=\"row\"\n              align=\"center\"\n              width=\"100%\"\n              border=\"0\"\n              cellpadding=\"0\"\n              cellspacing=\"0\"\n            >\n              <tbody>\n                <tr>\n                  <td>\n                    <table\n                      class=\"row-content stack\"\n                      align=\"center\"\n                      border=\"0\"\n                      cellpadding=\"0\"\n                      cellspacing=\"0\"\n                      style=\"background-color: #f7f7f7; color: #000000; width: 600px; margin: 0 auto\"\n                      width=\"600\"\n                    >\n                      <tbody>\n                        <tr>\n                          <td\n                            class=\"column\"\n                            width=\"100%\"\n                            style=\"\n                              font-weight: 400;\n                              text-align: left;\n                              padding-bottom: 20px;\n                              padding-top: 20px;\n                              vertical-align: top;\n                              border: 0px;\n                            \"\n                          >\n                            <div style=\"height: 30px\">&#8202;</div>\n                          </td>\n                        </tr>\n                      </tbody>\n                    </table>\n                  </td>\n                </tr>\n              </tbody>\n            </table>\n            <table\n              id=\"footer\"\n              class=\"row\"\n              align=\"center\"\n              width=\"100%\"\n              border=\"0\"\n              cellpadding=\"0\"\n              cellspacing=\"0\"\n            >\n              <tbody>\n                <tr>\n                  <td>\n                    <table\n                      class=\"row-content stack\"\n                      align=\"center\"\n                      border=\"0\"\n                      cellpadding=\"0\"\n                      cellspacing=\"0\"\n                      style=\"color: #000000; width: 600px; margin: 0 auto\"\n                      width=\"600\"\n                    >\n                      <tbody>\n                        <tr>\n                          <td\n                            class=\"column\"\n                            width=\"100%\"\n                            style=\"\n                              font-weight: 400;\n                              text-align: left;\n                              padding-bottom: 5px;\n                              padding-top: 5px;\n                              vertical-align: top;\n                              border: 0px;\n                            \"\n                          >\n                            <div style=\"height: 20px\">&#8202;</div>\n                            <table\n                              class=\"image_block\"\n                              width=\"100%\"\n                              border=\"0\"\n                              cellpadding=\"0\"\n                              cellspacing=\"0\"\n                            >\n                              <tr>\n                                <td\n                                  class=\"pad\"\n                                  style=\"padding: 10px 35px; width: 100%\"\n                                >\n                                  <div\n                                    class=\"alignment\"\n                                    align=\"center\"\n                                    style=\"height: 30px\"\n                                  >\n                                    <div style=\"max-width: 40px\">\n                                      <a\n                                        href=\"http://www.suger.io\"\n                                        target=\"_blank\"\n                                        style=\"outline: none\"\n                                        tabindex=\"-1\"\n                                      >\n                                        <img\n                                          src=\"https://imagedelivery.net/pNNvR2_tZYczcQ3leBU_1A/242a5a5f-8364-4418-0e2f-57ec26125b00/public\"\n                                          style=\"display: block; height: auto; border: 0; width: 100%\"\n                                          width=\"40\"\n                                          alt=\"Suger Logo\"\n                                          title=\"Suger Logo\"\n                                        />\n                                      </a>\n                                    </div>\n                                  </div>\n                                </td>\n                              </tr>\n                            </table>\n                            <table\n                              width=\"100%\"\n                              border=\"0\"\n                              cellpadding=\"10\"\n                              cellspacing=\"0\"\n                            >\n                              <tr>\n                                <td class=\"pad\">\n                                  <div\n                                    style=\"\n                                      color: #7b7b7b;\n                                      font-family: Verdana, Geneva, sans-serif;\n                                      font-size: 12px;\n                                      text-align: center;\n                                    \"\n                                  >\n                                    <p style=\"margin: 5px; word-break: break-word\">\n                                      <span>\n                                        Powered by\n                                        <a href=\"http://www.suger.io\">Suger</a>\n                                      </span>\n                                    </p>\n                                    <p style=\"margin: 0; word-break: break-word\">\n                                      <span>@ 2022-2024 All Rights Reserved.</span>\n                                    </p>\n                                  </div>\n                                </td>\n                              </tr>\n                            </table>\n                            <div style=\"height: 20px\">&#8202;</div>\n                          </td>\n                        </tr>\n                      </tbody>\n                    </table>\n                  </td>\n                </tr>\n              </tbody>\n            </table>\n          </td>\n        </tr>\n      </tbody>\n    </table>\n  </body>\n</html>",
        "subject": "={{ $json.message }}",
        "toEmail": "chengjun@suger.io"
      },
      "sugerOrgId": "w43Vc6UfM"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "sugerOrgId": "w43Vc6UfM"
  },
  "versionId": "43b47063-5da7-44fa-9344-abd2ce09ed83",
  "createdAt": "2024-01-25T05:42:20.035Z",
  "updatedAt": "2024-04-11T14:21:10.887Z",
  "sugerOrgId": "w43Vc6UfM"
}
