service/workflow_service/nodes_test/test_files/hubspot-create-workflow.json
{
    "name": "Hubspot Test Workflow",
    "nodes": [
        {
            "parameters": {},
            "id": "942e4921-3e67-4540-aba5-dbddd6bc0e9f",
            "name": "When clicking \"Execute Workflow\"",
            "typeVersion": 1,
            "type": "n8n-nodes-base.manualTrigger",
            "position": [
                580,
                100
            ],
            "sugerOrgId": "Tecl_2yaM"
        },
        {
            "parameters": {
                "operation": "getAll",
                "returnAll": true,
                "additionalFields": {
                    "listMemberships": true,
                    "propertiesCollection": {
                        "propertiesValues": {
                            "properties": [
                                "company_size",
                                "date_of_birth",
                                "days_to_close",
                                "degree",
                                "field_of_study",
                                "hs_date_entered_salesqualifiedlead",
                                "hs_date_entered_subscriber"
                            ]
                        }
                    }
                }
            },
            "id": "b689895d-cac9-4afa-a93d-0bdb20c7ebcf",
            "name": "HubSpot",
            "typeVersion": 2,
            "type": "n8n-nodes-base.hubspot",
            "position": [
                800,
                100
            ],
            "sugerOrgId": "Tecl_2yaM"
        },
        {
            "parameters": {
                "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
            },
            "id": "b9754eb5-64c1-41ab-b887-722990de151f",
            "name": "Code",
            "typeVersion": 2,
            "type": "n8n-nodes-base.code",
            "position": [
                980,
                100
            ],
            "sugerOrgId": "Tecl_2yaM"
        }
    ],
    "pinData": {},
    "connections": {
        "HubSpot": {
            "main": [
                [
                    {
                        "node": "Code",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "When clicking \"Execute Workflow\"": {
            "main": [
                [
                    {
                        "node": "HubSpot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "sugerOrgId": "Tecl_2yaM"
    },
    "tags": [],
    "versionId": "09eb3c73-c748-4d76-ac6f-9f874f84a377",
    "sugerOrgId": "Tecl_2yaM",
    "id": "13fd43d7-9262-45ba-ac2a-0949ff511a26"
}