service/workflow_service/nodes_test/test_files/webhook-e2e.json
{
  "name": "New Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c466ca84-47d7-4b18-9aad-08c8e09a96ad",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        140,
        400
      ],
      "webhookId": "c466ca84-47d7-4b18-9aad-08c8e09a96ad",
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n  json: JSON.parse($input.first().json.body) }\n]"
      },
      "id": "",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        400
      ],
      "sugerOrgId": "w43Vc6UfM"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        580,
        400
      ],
      "sugerOrgId": "w43Vc6UfM"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "sugerOrgId": "w43Vc6UfM"
  },
  "tags": [],
  "versionId": "",
  "sugerOrgId": "w43Vc6UfM"
}
